[%# First line will be summary, second line will be description. Avoid indenting. Var newline added to avoid translating problems. -%] [%- newline="\n" | html -%] [%- IF overdue == 1 -%] [% title | html %] está em atraso [%- newline | html -%]A sua cópia de [% title | html %] (código de barras [% barcode | html %]) está em atraso [%- ELSE -%] [% title | html %] está em atraso [%- newline | html -%]A sua cópia de [% title | html %] (código de barras [% barcode | html %]) está atraso na biblioteca hoje [%- END -%] 