[%- USE Koha -%] [%- SET delimiter = Koha.CSVDelimiter() -%] [%- BLOCK -%]Nome do contrato[% delimiter | html %]Número da encomenda[% delimiter | html %]Data de adição[% delimiter | html %]ISBN[% delimiter | html %]Autor[% delimiter | html %]Título[% delimiter | html %]Ano de publicação[% delimiter | html %]Editor[% delimiter | html %]Título de coleção[% delimiter | html %]Notas para o fornecedor[% delimiter | html %]Quantidade[% delimiter | html %]RRP[% delimiter | html %]Local de entrega[% delimiter | html %]Local de facturação[%- END -%] 