[%- USE raw -%] [%- USE Koha -%] [%- SET delimiter = Koha.CSVDelimiter() -%] [%- BLOCK -%] "Título" [%- delimiter | $raw -%] "Data de Publicação" [%- delimiter | $raw -%] "Editor" [%- delimiter | $raw -%] "Coleção" [%- delimiter | $raw -%] "Código de barras" [%- delimiter | $raw -%] "Numeração de periódico" [%- delimiter | $raw -%] "Cota" [%- delimiter | $raw -%] "Biblioteca de origem" [%- delimiter | $raw -%] "Localização corrente" [%- delimiter | $raw -%] "Localização na prateleira" [%- delimiter | $raw -%] "Tipo de documento" [%- delimiter | $raw -%] "Número de inventário" [%- delimiter | $raw -%] "Estado de empréstimo" [%- delimiter | $raw -%] "Perdido" [%- delimiter | $raw -%] "Retirado" [%- delimiter | $raw -%] "Empréstimos" [%- delimiter | $raw -%] "Data de término" [%- END -%] 