[%- BLOCK -%]Fundo[% sep | html %]"Número de cesto"[% sep | html %]"Nome do cesto"[% sep | html %]"Autorizado por"[% sep | html %]"Número de registo"[% sep | html %]Título[% sep | html %]Moeda[% sep | html %]"Preço do fornecedor"[% sep | html %]"Preço recomendado"[% sep | html %]"Custo orçamentado"[% sep | html %]Quantidade[% sep | html %]"Total recomendado"[% sep | html %]"Custo total"[% sep | html %]"Data de entrada"[% sep | html %]"Data de recepção"[% sep | html %]"Nota interna"[% sep | html %]"Nota do fornecedor"[%- END -%] 